html {
    background-image: url("images/kitchen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
	font-family: basic-sans, sans-serif;
}

body {
    background: linear-gradient(60deg, #F2F3D0 20%, #DBC386 80%);
    max-width: 1024px;
    min-height: 1024px;
    padding: 0;
    border-radius: 16px;
    margin: auto;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(187,174,128,1);
    -moz-box-shadow: 12px 29px 81px 0px rgba(187,174,128,1);
    box-shadow: 12px 29px 81px 0px rgba(187,174,128,1);
}

.titlething {
    font-size: 26pt;
    font-weight: bold;
    letter-spacing: 5px;
    color: #A58840;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.buttonsthing {
    font-size: 18pt;
    font-weight: normal;
    word-spacing: 5px;
    color: dimgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.imgrow {
    display: flex;
}

.imgrowint {
    padding: 5px;
    display: inline-flex
}

#bannerimage {
	width: 100%;
	background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/677/302/small/abstract-technology-banner-background.jpg);
	height: 405px;
	background-color: blue;
	background-position: center;

}

.right_bar {
	display: inline-block;
	width: 29.5%;
    float: right;
}

.about {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 128px;
}

.about img {
    max-height: 150px;
    display: flex;
    border-radius: 25px;
}

.about h3 {
    padding-left: 32px;
    padding-right: 32px;
    display: block;
    font-family: basic-sans, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.about p {
    padding-left: 32px;
    padding-right: 32px;
    display: block;
    font-family: basic-sans, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.aboutgame {
    float: left;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 128px;
}

.aboutgame img {
    max-height: 150px;
    display: flex;
    border-radius: 25px;
}

.aboutgame h3 {
    padding-left: 32px;
    padding-right: 32px;
    display: block;
    font-family: basic-sans, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.aboutgame p {
    padding-left: 32px;
    padding-right: 32px;
    display: block;
    font-family: basic-sans, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.abtgame1 {
    display: flex;
    margin-bottom: 32px;
}

.abtgame2 {
    display: flex;
    margin-bottom: 32px;
}

.abtgame3 {
    display: flex;
    margin-bottom: 32px;
}

.abtgame4 {
    display: flex;
    margin-bottom: 32px;
}

.abtgame5 {
    display: flex;
    margin-bottom: 32px;
}

.abtgame6 {
    display: flex;
    margin-bottom: 32px;
}

.homelinks {
    float: left;
    display: block;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 320px;
}

.homelinks img {
    max-width: 96px;
    flex-basis: 40%;
}

.homelinkimg1 {
    float: left;
}

.homelinkimg2 {
    float: right;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.homelinkimg1:hover {
    filter: invert(100);
    -webkit-transition: filter 100ms linear;
    -ms-transition: filter 100ms linear;
    transition: filter 100ms linear;
}

.homelinkimg2:hover {
    filter: invert(100);
    -webkit-transition: filter 100ms linear;
    -ms-transition: filter 100ms linear;
    transition: filter 100ms linear;
}

.homelinktext1 {
    float: right;
    padding-left: 32px;
    padding-top: 4px;
    font-family: basic-sans, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.homelinktext2 {
    float: left;
    padding-left: 0px;
    padding-top: 4px;
    font-family: basic-sans, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.unconst {
    text-align: center;
}

.unconst img {
    width: 640px;
}

.game {
    text-align: center;
}

.gifs {
    position: fixed;
    bottom: 15px;
    text-align: center;
}

.dordgif {
    max-height: 31px;
}

.forthebadge {
    text-align: center;
}

.link1 {
    text-align: center;
}

.link1 a {
    color: #4C86CB;
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.link1 a:hover {
    color: #D270F1;
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.info {
    font-family: basic-sans, sans-serif;
    text-align: center;
    margin: 0 240px 0 240px;
}

.info h2 {
    font-size: 26px;
}

.info h3 {
    font-size: 20px;
}

.info li {
    text-align: left;
    font-size: 20px;
}

.contacttitle {
    text-align: center;
    font-family: basic-sans, sans-serif;
}

.contacttitle h1 {
    font-size: 48px;
    display: inline;
}

.contacttitle h3 {
    margin-top: 4px;
}

.contactlinks {
    float: left;
    display: block;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 420px;
}

.contactlinks img {
    max-width: 96px;
    flex-basis: 40%;
}

.contactlinkimg1 {
    float: left;
}

.contactlinkimg2 {
    float: right;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.contactlinkimg1:hover {
    filter: invert(100);
    -webkit-transition: filter 100ms linear;
    -ms-transition: filter 100ms linear;
    transition: filter 100ms linear;
}

.contactlinkimg2:hover {
    filter: invert(100);
    -webkit-transition: filter 100ms linear;
    -ms-transition: filter 100ms linear;
    transition: filter 100ms linear;
}

.contactlinktext1 {
    float: right;
    padding-left: 32px;
    padding-top: 4px;
    font-family: basic-sans, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.contactlinktext2 {
    float: left;
    padding-left: 0px;
    padding-top: 4px;
    font-family: basic-sans, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.form {
    text-align: center;
    
}

.form label {
    text-align: left;
    font-family: basic-sans, sans-serif;
    font-weight: regular;
    font-size: 20px;
}

.form input[type=text], textarea {
    outline: none;
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #BBAE80;
    border-radius: 16px;
    background-color: #BBAE80;
}

.form input[type=text]:focus, textarea:focus {
    background-color: #FEFFD9;
    transition: background-color 100ms linear;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
}

.form input[type=text]:hover, textarea:hover {
    background-color: #cfc18f;
    transition: background-color 100ms linear;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
}

.form input[type=text]:focus:hover, textarea:focus:hover {
    background-color: #FEFFD9;
}

.form input[type=radio] {
    margin: 0;
    color: currentColor;
    font: inherit;
    width: 16px;
    height: 16px;
    background-color: #FEFFD9;
    border: 2px solid #BBAE80;
    border-radius: 50%;
}

.form input[type=submit] {
    outline: none;
    width: 20%;
    padding: 12px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #BBAE80;
    border-radius: 16px;
    background-color: #BBAE80;
    font-family: basic-sans, sans-serif;
    font-size: 20px;
}

.form input[type=submit]:hover {
    background-color: #FEFFD9;
    transition: background-color 100ms linear;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
}

.copyright {
	display: inline-flex;
	margin: 64px 128px 32px 128px;
}

.crlogos {
	display: inline;
	float: left;
	margin-top: 20px;
}

.crlogos img {
	max-width: 32px;
	height: auto;
}

.crtext {
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

.crtext a {
	text-decoration: none;
	color: #D270F1;
}

.logintitle {
	text-align: center;
	font-size: 22px;
}